db.getSiblingDB("$external").runCommand(
         {
           createUser: "[[subject]]",
           roles: [
                    { role: 'readWrite', db: 'test' },
                    { role: 'userAdminAnyDatabase', db: 'admin' }
           ]
         }
);
